In [1]:
import datetime
from typing import List

from flask import Flask, request
from flask_sqlalchemy import SQLAlchemy
import requests

In [2]:
app = Flask(__name__)
# db_url = "postgresql+psycopg2://demo:demo@localhost:5433/amvdb"
db_url = 'sqlite:///:memory:'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
app.config['SQLALCHEMY_DATABASE_URI'] = db_url
app.config['SQLALCHEMY_ECHO'] = True
db = SQLAlchemy(app)

First, let's create the classes that will map to the database tables.

In [3]:
class Venue(db.Model):
    """A python representation of the venue table."""

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    address_id = db.Column(db.Integer, db.ForeignKey('address.id'))
    name = db.Column(db.String)
    closed = db.Column(db.Boolean, default=False)
    image_url = db.Column(db.String)
    description = db.Column(db.String)
    inserted = db.Column(db.DateTime, default=datetime.datetime.utcnow())

    address = db.relationship(
        "Address",
        backref=db.backref('venues', lazy=True),
        uselist=False,
    )
    ratings = db.relationship(
        "Rating",
        backref=db.backref('rated_venue', lazy=True),
        cascade="all, delete, delete-orphan",
    )

    @classmethod
    def get_venues(cls, limit: int = 25) -> List['Venue']:
        """Generate a list of Venues pulled from the database.

        :param limit: The maximum number of Venue objects to return.
        """
        venues = db.session.query(
            Venue.id,
            Venue.name,
            Venue.image_url,
            Venue.description,
            Address.street,
            Address.city,
            Address.state,
            Address.zip,
            Venue.closed,
            db.func.avg(Rating.score).label('rating'),
        ).join(
            Address,
        ).outerjoin(
            Rating,
        ).order_by(
            Venue.name,
        ).group_by(
            Venue.id,
            Address.id,
        ).limit(
            limit,
        ).all()
        return venues

    def __repr__(self) -> str:
        """Defines the instance representation for a Venue object."""
        return (
            '<Venue('
            f'name={self.name}, '
            f'image_url={self.image_url[:10]}..., '
            f'description={self.description[:10]}..., '
            f'closed={self.closed}'
            ')>'
        )

In [4]:
class Address(db.Model):
    """A python representation of the venue street address."""

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    street = db.Column(db.String, nullable=False)
    city = db.Column(db.String, default='Austin')
    state = db.Column(db.String(2), default='TX')
    zip = db.Column(db.String)
    inserted = db.Column(db.DateTime, default=datetime.datetime.utcnow())

    def __repr__(self) -> str:
        """Defines the instance representation for an Address object."""
        return (
            '<Address('
            f'id={self.id}, '
            f'street={self.street}, '
            f'city={self.city}, '
            f'state={self.state}, '
            f'zip={self.zip}, '
            f'inserted={self.inserted}'
            ')>'
        )

In [5]:
class Rating(db.Model):
    """A python representation of the rating table."""

    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    venue_id = db.Column(db.Integer, db.ForeignKey('venue.id'))
    score = db.Column(db.Integer)
    review = db.Column(db.String)
    inserted = db.Column(db.DateTime, default=datetime.datetime.utcnow())

    @classmethod
    def get_ratings(cls, venue_id: int) -> List['Rating']:
        """Generate a list of Ratings pulled from the database.

        :param venue_id: The venue_id for the corresponding Ratings.
        """
        ratings = db.session.query(
            Rating,
        ).filter(
            Rating.venue_id == venue_id,
        ).all()
        return ratings

    def __repr__(self) -> str:
        """Defines the instance representation for a Rating object."""
        return (
            '<Rating('
            f'id={self.id}, '
            f'venue_id={self.venue_id}, '
            f'score={self.score}, '
            f'review={self.review}, '
            f'inserted={self.inserted}'
            ')>'
        )

In [6]:
db.create_all()

2019-07-08 01:05:56,960 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-08 01:05:56,960 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,961 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-08 01:05:56,962 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,965 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("venue")
2019-07-08 01:05:56,966 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,967 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("address")
2019-07-08 01:05:56,969 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,971 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("rating")
2019-07-08 01:05:56,971 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,972 INFO sqlalchemy.engine.base.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	street VARCHAR NOT NULL,
	city VARCHAR,
	state VARCHAR(2),
	zip VARCHAR,
	inserted DATETIME,
	PRIMARY KEY (id)
)


2019-07-08 01:05:56,975 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,976 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-08 01:05:56,977 INFO sqlalchemy.engine.base.Engine
CREATE TABLE venue (
	id INTEGER NOT NULL,
	address_id INTEGER,
	name VARCHAR,
	closed BOOLEAN,
	image_url VARCHAR,
	description VARCHAR,
	inserted DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id),
	CHECK (closed IN (0, 1))
)


2019-07-08 01:05:56,984 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:56,987 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-08 01:05:56,992 INFO sqlalchemy.engine.base.Engine
CREATE TABLE rating (
	id INTEGER NOT NULL,
	venue_id INTEGER,
	score INTEGER,
	review VARCHAR,
	inserted DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(venue_id) REFERENCES venue (id)
)


2019-07-08 01:05:56,994 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:57,001 INFO sqlalchemy.engine.base.Engine COMMIT

Inserting a new Venue

In [7]:
parish = Venue(
    name='Parish',
    image_url='https://www.theparishaustin.com/wp-content/uploads/2017/05/bg7.jpg',
    description='A staple of the Red River Cultural District wi...',
    address=Address(
        street='214 E 6th St',
        zip='78701',
    ),
)
db.session.add(parish)
db.session.commit()

2019-07-08 01:05:57,057 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-08 01:05:57,058 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?)
2019-07-08 01:05:57,059 INFO sqlalchemy.engine.base.Engine ('214 E 6th St', 'Austin', 'TX', '78701', '2019-07-08 06:05:56.927643')
2019-07-08 01:05:57,062 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, image_url, description, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-07-08 01:05:57,066 INFO sqlalchemy.engine.base.Engine (1, 'Parish', 0, 'https://www.theparishaustin.com/wp-content/uploads/2017/05/bg7.jpg', 'A staple of the Red River Cultural District wi...', '2019-07-08 06:05:56.915437')
2019-07-08 01:05:57,069 INFO sqlalchemy.engine.base.Engine COMMIT

Querying the venue table for records. The results are returned as a list of Venue objects.

In [8]:
results = db.session.query(Venue).all()
print(results)

2019-07-08 01:05:57,077 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-08 01:05:57,078 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
2019-07-08 01:05:57,080 INFO sqlalchemy.engine.base.Engine ()
[<Venue(name=Parish, image_url=https://ww..., description=A staple o..., closed=False)>]

It's also possible to return a single object.

In [9]:
results = db.session.query(Venue).one()
print(results)

2019-07-08 01:05:57,101 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
2019-07-08 01:05:57,103 INFO sqlalchemy.engine.base.Engine ()
<Venue(name=Parish, image_url=https://ww..., description=A staple o..., closed=False)>

In [10]:
print(results.address)

2019-07-08 01:05:57,132 INFO sqlalchemy.engine.base.Engine SELECT address.id AS address_id, address.street AS address_street, address.city AS address_city, address.state AS address_state, address.zip AS address_zip, address.inserted AS address_inserted
FROM address
WHERE address.id = ?
2019-07-08 01:05:57,139 INFO sqlalchemy.engine.base.Engine (1,)
<Address(id=1, street=214 E 6th St, city=Austin, state=TX, zip=78701, inserted=2019-07-08 06:05:56.927643)>

In [11]:
results = db.session.query(Address).one()
print(results.venues)

2019-07-08 01:05:57,157 INFO sqlalchemy.engine.base.Engine SELECT address.id AS address_id, address.street AS address_street, address.city AS address_city, address.state AS address_state, address.zip AS address_zip, address.inserted AS address_inserted
FROM address
2019-07-08 01:05:57,166 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:57,187 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
WHERE ? = venue.address_id
2019-07-08 01:05:57,189 INFO sqlalchemy.engine.base.Engine (1,)
[<Venue(name=Parish, image_url=https://ww..., description=A staple o..., closed=False)>]

In [12]:
ratings = [
    Rating(score=4, review='Great vibe!'),
    Rating(score=3, review='Cool space but too crowded.'),
    Rating(score=5, review='Awesome sound!'),
    Rating(score=4, review='Three bars!'),
    Rating(score=5, review='Good views of the stage.'),
]
venue = db.session.query(Venue).filter(Venue.name == 'Parish').first()
venue.ratings = ratings
db.session.add(venue)
db.session.commit()

2019-07-08 01:05:57,219 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
WHERE venue.name = ?
 LIMIT ? OFFSET ?
2019-07-08 01:05:57,220 INFO sqlalchemy.engine.base.Engine ('Parish', 1, 0)
2019-07-08 01:05:57,230 INFO sqlalchemy.engine.base.Engine SELECT rating.id AS rating_id, rating.venue_id AS rating_venue_id, rating.score AS rating_score, rating.review AS rating_review, rating.inserted AS rating_inserted
FROM rating
WHERE ? = rating.venue_id
2019-07-08 01:05:57,233 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-08 01:05:57,237 INFO sqlalchemy.engine.base.Engine INSERT INTO rating (venue_id, score, review, inserted) VALUES (?, ?, ?, ?)
2019-07-08 01:05:57,238 INFO sqlalchemy.engine.base.Engine (1, 4, 'Great vibe!', '2019-07-08 06:05:56.944096')
2019-07-08 01:05:57,240 INFO sqlalchemy.engine.base.Engine INSERT INTO rating (venue_id, score, review, inserted) VALUES (?, ?, ?, ?)
2019-07-08 01:05:57,243 INFO sqlalchemy.engine.base.Engine (1, 3, 'Cool space but too crowded.', '2019-07-08 06:05:56.944096')
2019-07-08 01:05:57,245 INFO sqlalchemy.engine.base.Engine INSERT INTO rating (venue_id, score, review, inserted) VALUES (?, ?, ?, ?)
2019-07-08 01:05:57,246 INFO sqlalchemy.engine.base.Engine (1, 5, 'Awesome sound!', '2019-07-08 06:05:56.944096')
2019-07-08 01:05:57,248 INFO sqlalchemy.engine.base.Engine INSERT INTO rating (venue_id, score, review, inserted) VALUES (?, ?, ?, ?)
2019-07-08 01:05:57,249 INFO sqlalchemy.engine.base.Engine (1, 4, 'Three bars!', '2019-07-08 06:05:56.944096')
2019-07-08 01:05:57,250 INFO sqlalchemy.engine.base.Engine INSERT INTO rating (venue_id, score, review, inserted) VALUES (?, ?, ?, ?)
2019-07-08 01:05:57,251 INFO sqlalchemy.engine.base.Engine (1, 5, 'Good views of the stage.', '2019-07-08 06:05:56.944096')
2019-07-08 01:05:57,255 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
venue = db.session.query(Venue).one()
venue.closed = True
db.session.add(venue)
db.session.commit()
result = db.session.query(Venue).one()
print(result)

2019-07-08 01:05:57,263 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-08 01:05:57,265 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
2019-07-08 01:05:57,266 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:57,268 INFO sqlalchemy.engine.base.Engine UPDATE venue SET closed=? WHERE venue.id = ?
2019-07-08 01:05:57,270 INFO sqlalchemy.engine.base.Engine (1, 1)
2019-07-08 01:05:57,271 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-08 01:05:57,273 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-08 01:05:57,274 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
2019-07-08 01:05:57,275 INFO sqlalchemy.engine.base.Engine ()
<Venue(name=Parish, image_url=https://ww..., description=A staple o..., closed=True)>

In [14]:
venue = db.session.query(Venue).one()
db.session.delete(venue)
db.session.commit()
result = db.session.query(Venue).all()
print(result)

2019-07-08 01:05:57,290 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
2019-07-08 01:05:57,292 INFO sqlalchemy.engine.base.Engine ()
2019-07-08 01:05:57,297 INFO sqlalchemy.engine.base.Engine SELECT rating.id AS rating_id, rating.venue_id AS rating_venue_id, rating.score AS rating_score, rating.review AS rating_review, rating.inserted AS rating_inserted
FROM rating
WHERE ? = rating.venue_id
2019-07-08 01:05:57,298 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-08 01:05:57,305 INFO sqlalchemy.engine.base.Engine DELETE FROM rating WHERE rating.id = ?
2019-07-08 01:05:57,306 INFO sqlalchemy.engine.base.Engine ((1,), (2,), (3,), (4,), (5,))
2019-07-08 01:05:57,307 INFO sqlalchemy.engine.base.Engine DELETE FROM venue WHERE venue.id = ?
2019-07-08 01:05:57,308 INFO sqlalchemy.engine.base.Engine (1,)
2019-07-08 01:05:57,311 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-08 01:05:57,314 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-08 01:05:57,317 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.image_url AS venue_image_url, venue.description AS venue_description, venue.inserted AS venue_inserted
FROM venue
2019-07-08 01:05:57,318 INFO sqlalchemy.engine.base.Engine ()
[]

In [15]:
result = db.session.query(Rating).all()
print(result)

2019-07-08 01:07:11,195 INFO sqlalchemy.engine.base.Engine SELECT rating.id AS rating_id, rating.venue_id AS rating_venue_id, rating.score AS rating_score, rating.review AS rating_review, rating.inserted AS rating_inserted
FROM rating
2019-07-08 01:07:11,198 INFO sqlalchemy.engine.base.Engine ()
[]