In [1]:
import datetime
from sqlalchemy import Boolean, Column, create_engine, DateTime, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

In [2]:
engine = create_engine('sqlite:///:memory:', echo=True)
Base = declarative_base()

In [3]:
Session = sessionmaker(bind=engine)

In [4]:
session = Session()

In [5]:
class Venue(Base):
    """A python representation of the venue table."""
    
    __tablename__ = 'venue'
    id = Column(Integer, primary_key=True, autoincrement=True)
    address_id = Column(Integer, ForeignKey('address.id'))
    name = Column(String)
    closed = Column(Boolean, default=False)
    inserted = Column(DateTime)
    
    address = relationship("Address", back_populates="venue")
#     ratings = relationship("Rating")

In [6]:
class Address(Base):
    """A python representation of the venue street address."""
    
    __tablename__ = 'address'
    id = Column(Integer, primary_key=True, autoincrement=True)
    street1 = Column(String)
    street2 = Column(String)
    city = Column(String)
    state = Column(String(2))
    zip = Column(String)
    inserted = Column(DateTime)
    
    venue = relationship("Venue", back_populates="address")

In [57]:
class Ratings(Base):
    """A python representation of the rating table."""
    
    __tablename__ = 'ratings'
    id = Column(Integer, primary_key=True, autoincrement=True)
#     venue_id = Column(Integer, ForeignKey('venue.id'))
    rating = Column(Integer)
    inserted = Column(DateTime)
    
#     venue = relationship("Venue")

In [7]:
Base.metadata.create_all(engine)

2019-06-30 01:25:46,278 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-06-30 01:25:46,283 INFO sqlalchemy.engine.base.Engine ()
2019-06-30 01:25:46,302 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-06-30 01:25:46,303 INFO sqlalchemy.engine.base.Engine ()
2019-06-30 01:25:46,306 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("venue")
2019-06-30 01:25:46,307 INFO sqlalchemy.engine.base.Engine ()
2019-06-30 01:25:46,314 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("address")
2019-06-30 01:25:46,318 INFO sqlalchemy.engine.base.Engine ()
2019-06-30 01:25:46,324 INFO sqlalchemy.engine.base.Engine
CREATE TABLE address (
	id INTEGER NOT NULL,
	street1 VARCHAR,
	street2 VARCHAR,
	city VARCHAR,
	state VARCHAR(2),
	zip VARCHAR,
	inserted DATETIME,
	PRIMARY KEY (id)
)


2019-06-30 01:25:46,326 INFO sqlalchemy.engine.base.Engine ()
2019-06-30 01:25:46,331 INFO sqlalchemy.engine.base.Engine COMMIT
2019-06-30 01:25:46,336 INFO sqlalchemy.engine.base.Engine
CREATE TABLE venue (
	id INTEGER NOT NULL,
	address_id INTEGER,
	name VARCHAR,
	closed BOOLEAN,
	inserted DATETIME,
	PRIMARY KEY (id),
	FOREIGN KEY(address_id) REFERENCES address (id),
	CHECK (closed IN (0, 1))
)


2019-06-30 01:25:46,339 INFO sqlalchemy.engine.base.Engine ()
2019-06-30 01:25:46,340 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
now = datetime.datetime.now()
addresses = [
    Address(street1='214 E 6th St', city='Austin', state='TX', zip='78701', inserted=now), # Parish
    Address(street1='611 E 7th St', city='Austin', state='TX', zip='78701', inserted=now), # Barracuda
    Address(street1='606 E 7th St', city='Austin', state='TX', zip='78701', inserted=now), # Empire
    Address(street1='705 Red River St', city='Austin', state='TX', zip='78701', inserted=now), # Elysium
    Address(street1='801 Red River St', city='Austin', state='TX', zip='78701', inserted=now), # Stubb's
    Address(street1='900 Red River St', city='Austin', state='TX', zip='78701', inserted=now), # Cheer Up
    Address(street1='912 Red River St', city='Austin', state='TX', zip='78701', inserted=now), # Mohawk
    Address(street1='305 E 5th St', city='Austin', state='TX', zip='78701', inserted=now), # Antones
    Address(street1='612 W 4th St', city='Austin', state='TX', zip='78701', inserted=now), # La Zona
    Address(street1='1315 S Congress Ave', city='Austin', state='TX', zip='78704', inserted=now), # Continental
    Address(street1='2015 E Riverside Dr', city='Austin', state='TX', zip='78741', inserted=now), # Emo's
    Address(street1='603 Red River St', city='Austin', state='TX', zip='78701', inserted=now), # Old Emo's
    Address(street1='405 W 2nd St', city='Austin', state='TX', zip='78701', inserted=now), # Liberty Lunch
    Address(street1='305 W 5th St', city='Austin', state='TX', zip='78701', inserted=now), # Old Antones
]
session.add_all(addresses)
session.commit()

2019-06-30 01:28:05,891 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-06-30 01:28:05,896 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,901 INFO sqlalchemy.engine.base.Engine ('214 E 6th St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,902 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,905 INFO sqlalchemy.engine.base.Engine ('611 E 7th St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,907 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,908 INFO sqlalchemy.engine.base.Engine ('606 E 7th St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,910 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,911 INFO sqlalchemy.engine.base.Engine ('705 Red River St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,912 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,913 INFO sqlalchemy.engine.base.Engine ('801 Red River St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,914 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,915 INFO sqlalchemy.engine.base.Engine ('900 Red River St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,916 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,917 INFO sqlalchemy.engine.base.Engine ('912 Red River St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,919 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,920 INFO sqlalchemy.engine.base.Engine ('305 E 5th St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,924 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,930 INFO sqlalchemy.engine.base.Engine ('612 W 4th St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,931 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,932 INFO sqlalchemy.engine.base.Engine ('1315 S Congress Ave', None, 'Austin', 'TX', '78704', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,934 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,936 INFO sqlalchemy.engine.base.Engine ('2015 E Riverside Dr', None, 'Austin', 'TX', '78741', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,937 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,939 INFO sqlalchemy.engine.base.Engine ('603 Red River St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,940 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,942 INFO sqlalchemy.engine.base.Engine ('405 W 2nd St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,945 INFO sqlalchemy.engine.base.Engine INSERT INTO address (street1, street2, city, state, zip, inserted) VALUES (?, ?, ?, ?, ?, ?)
2019-06-30 01:28:05,949 INFO sqlalchemy.engine.base.Engine ('305 W 5th St', None, 'Austin', 'TX', '78701', '2019-06-30 01:28:05.883993')
2019-06-30 01:28:05,952 INFO sqlalchemy.engine.base.Engine COMMIT

In [9]:
session.query(Address.id, Address.street1).all()

2019-06-30 01:28:12,690 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-06-30 01:28:12,696 INFO sqlalchemy.engine.base.Engine SELECT address.id AS address_id, address.street1 AS address_street1
FROM address
2019-06-30 01:28:12,700 INFO sqlalchemy.engine.base.Engine ()

[(1, '214 E 6th St'),
 (2, '611 E 7th St'),
 (3, '606 E 7th St'),
 (4, '705 Red River St'),
 (5, '801 Red River St'),
 (6, '900 Red River St'),
 (7, '912 Red River St'),
 (8, '305 E 5th St'),
 (9, '612 W 4th St'),
 (10, '1315 S Congress Ave'),
 (11, '2015 E Riverside Dr'),
 (12, '603 Red River St'),
 (13, '405 W 2nd St'),
 (14, '305 W 5th St')]

In [10]:
now = datetime.datetime.now()
venues = [
    Venue(address_id=1, name='Parish', inserted=now),
    Venue(address_id=2, name='Barracuda', inserted=now),
    Venue(address_id=2, name='Red 7', closed=True, inserted=now),
    Venue(address_id=3, name='Empire Control Room and Garage', inserted=now),
    Venue(address_id=4, name='Elysium', inserted=now),
    Venue(address_id=12, name="Emo's", closed=True, inserted=now),
    Venue(address_id=5, name="Stubb's BBQ", inserted=now),
    Venue(address_id=6, name="Cheer Up Charlies", inserted=now),
    Venue(address_id=7, name='Mohawk', inserted=now),
    Venue(address_id=8, name="Antone's", inserted=now),
    Venue(address_id=9, name='La Zona Rosa', closed=True, inserted=now),
    Venue(address_id=10, name='Continental Club', inserted=now),
    Venue(address_id=11, name="Emo's", inserted=now),
    Venue(address_id=13, name='Liberty Lunch', closed=True, inserted=now),
    Venue(address_id=14, name="Antone's", closed=True, inserted=now),
]
session.add_all(venues)
session.commit()

2019-06-30 01:28:29,450 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,453 INFO sqlalchemy.engine.base.Engine (1, 'Parish', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,457 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,460 INFO sqlalchemy.engine.base.Engine (2, 'Barracuda', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,462 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,464 INFO sqlalchemy.engine.base.Engine (2, 'Red 7', 1, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,465 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,474 INFO sqlalchemy.engine.base.Engine (3, 'Empire Control Room and Garage', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,482 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,489 INFO sqlalchemy.engine.base.Engine (4, 'Elysium', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,497 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,501 INFO sqlalchemy.engine.base.Engine (12, "Emo's", 1, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,509 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,510 INFO sqlalchemy.engine.base.Engine (5, "Stubb's BBQ", 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,514 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,518 INFO sqlalchemy.engine.base.Engine (6, 'Cheer Up Charlies', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,527 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,533 INFO sqlalchemy.engine.base.Engine (7, 'Mohawk', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,539 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,544 INFO sqlalchemy.engine.base.Engine (8, "Antone's", 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,547 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,556 INFO sqlalchemy.engine.base.Engine (9, 'La Zona Rosa', 1, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,558 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,560 INFO sqlalchemy.engine.base.Engine (10, 'Continental Club', 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,563 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,566 INFO sqlalchemy.engine.base.Engine (11, "Emo's", 0, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,572 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,574 INFO sqlalchemy.engine.base.Engine (13, 'Liberty Lunch', 1, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,576 INFO sqlalchemy.engine.base.Engine INSERT INTO venue (address_id, name, closed, inserted) VALUES (?, ?, ?, ?)
2019-06-30 01:28:29,577 INFO sqlalchemy.engine.base.Engine (14, "Antone's", 1, '2019-06-30 01:28:29.433469')
2019-06-30 01:28:29,579 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
session.query(Venue).join(Address).filter(Venue.name == "Antone's").all()

2019-06-30 01:29:26,639 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-06-30 01:29:26,644 INFO sqlalchemy.engine.base.Engine SELECT venue.id AS venue_id, venue.address_id AS venue_address_id, venue.name AS venue_name, venue.closed AS venue_closed, venue.inserted AS venue_inserted
FROM venue JOIN address ON address.id = venue.address_id
WHERE venue.name = ?
2019-06-30 01:29:26,647 INFO sqlalchemy.engine.base.Engine ("Antone's",)